@font-face {
    font-family: 'Samim';
    src: url("/public/fonts/Samim.eot"); /* IE9 Compat Modes */
    src: url("/public/fonts/Samim.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */ url("/public/fonts/Samim.woff2") format('woff2'), /* Super Modern Browsers */ url("/public/fonts/Samim.woff") format('woff'), /* Pretty Modern Browsers */ url("/public/fonts/Samim.ttf") format('truetype'), /* Safari, Android, iOS */ url("/public/fonts/Samim.svg#svgFontName") format('svg'); /* Old iOS */
}

@font-face {
    font-family: 'BSamim';
    src: url("/public/fonts/Samim-Bold.eot"); /* IE9 Compat Modes */
    src: url("/public/fonts/Samim-Bold.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */ url("/public/fonts/Samim-Bold.woff2") format('woff2'), /* Super Modern Browsers */ url("/public/fonts/Samim-Bold.woff") format('woff'), /* Pretty Modern Browsers */ url("/public/fonts/Samim-Bold.ttf") format('truetype'), /* Safari, Android, iOS */ url("/public/fonts/Samim-Bold.svg#svgFontName") format('svg'); /* Old iOS */
}

body {
    font-family: Samim !Important;
}

.swal2-popup {
    font-size: 1.25rem;
}

.swal2-container {
    zoom: 0;
}


.swal2-icon {
    color: #ff7043;
    border-color: #ff7043;
    font-size: 1rem!important;
    line-height: 1rem!important;
    -ms-flex-pack: center;
    justify-content: center;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00897B;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00695C;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 6.25rem;
    right: 2rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(-30deg);
}